<h1>Download Visual Studio Code Extensions</h1>
<form class="extensions-form" [formGroup]="extensionsForm" (ngSubmit)="onSubmit()">
  <mat-progress-bar mode="indeterminate" *ngIf="downloadRunning"></mat-progress-bar>
  <mat-form-field class="extensions-full-width">
    <mat-label>Extensions</mat-label>
    <textarea matInput cdkTextareaAutosize=true placeholder="namespace.extension" formControlName="extensions"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button" (click)="onClear()">Clear</button>
  <button mat-raised-button color="primary" type="submit">Download</button>
</form>

<app-extension *ngFor="let extension of extensions"
  [extension]="extension">
</app-extension>
