<div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="start stretch" fxFill>
  <div fxFlexAlign="center" fxFlexOffset="50px">
    <form [formGroup]="extensionsForm" (ngSubmit)="onSubmit()">
      <mat-progress-bar mode="indeterminate" *ngIf="downloadRunning"></mat-progress-bar>
      <mat-form-field class="full-width">
        <mat-label>Extensions</mat-label>
        <textarea matInput cdkTextareaAutosize=true placeholder="namespace.extension" formControlName="extensions"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="onClear()">Clear</button>
      <button mat-raised-button color="primary" type="submit">Download</button>
    </form>
  </div>
  <div fxFlexAlign="center" fxLayout="column">
    <app-extension fxFlexOffset="20px"*ngFor="let extension of extensions"
                   [extension]="extension">
    </app-extension>
  </div>
</div>



