<mat-card class="extension-card">
  <mat-card-header>
    <img mat-card-avatar [src]="icon" class="extension-header-image">
    <mat-card-title>{{id}}</mat-card-title>
    <mat-card-subtitle>{{metadata?.version || errors}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>{{metadata?.description}}</p>
  </mat-card-content>
</mat-card>
